@model IEnumerable<PropertyManagementSystem.Models.w_buildings>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}


<div class="container-fluid">
    <div class="row cm-fix-height">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">System Params Management</div>
                <div class="panel-body">
                    <table class="table">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.address)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.type)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.owner)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.phone)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.email)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.rooms)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.building_area)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.land_area)
                            </th>
                            <th></th>
                        </tr>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.address)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.type)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.owner)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.phone)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.email)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.rooms)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.building_area)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.land_area)
                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                                    @Html.ActionLink("Details", "Details", new { id = item.id }) |
                                    <a href="/EditBuildings/DeleteConfirmed/@item.id" onclick="return confirm('Delete this data?')">Delete</a>
                                    @*@Html.ActionLink("Delete", "Delete", new { id = item.id })*@
                                </td>
                            </tr>
                        }

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>