@model PropertyManagementSystem.Models.w_ownerfees

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}
<div class="container-fluid">
    <div class="row cm-fix-height">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">Owner Fee Detail</div>
                <div class="panel-body">
                    <div>
                        <h4>w_ownerfees</h4>
                        <hr />
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayNameFor(model => model.name)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.name)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.email)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.email)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.amount)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.amount)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.create_time)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.create_time)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.due_time)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.due_time)
                            </dd>

                        </dl>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>